<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Placement Drive 2024 - Manipal University Jaipur</title>
    <link rel="stylesheet" href="../static/styles.css">
    <style>
        .heading{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="header-container">
        <header>
            <h1>Campus Placement Drive 2024</h1>
        </header>
        <nav>
            <a href="./index.html" class="btn">Home</a>
            <a href="#" class="btn">Departments</a>
            <a href="#" class="btn">Top Recruiters</a>
            <a href="#" class="btn">Contact</a>
        </nav>
    </div>

    <main>
        <section class="placement-info">
            <h2 class="heading">Placement Statistics - Manipal University Jaipur</h2>
            <p class="heading">Below is the latest placement data from Manipal University Jaipur for the academic year 2023-2024.</p>

            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <img alt="image" src="../static/images/highest_resized.png" class="card-img">
                        <h5 class="card-title">Highest Package</h5>
                        <p class="card-text">INR 42 LPA</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img alt="image" src="../static/images/average_resized.jpg" class="card-img">
                        <h5 class="card-title">Average Package</h5>
                        <p class="card-text">INR 8.6 LPA</p>
                    </div>
                </div>
                <div class="card">
                    <img alt="image" src="../static/images/FAANG_resized.jpg" class="card-img">
                    <div class="card-body">
                        <h5 class="card-title">Top Recruiters</h5>
                        <p class="card-text">Google, Amazon, Microsoft, Deloitte, TCS</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img alt="image" src="../static/images/offers.jpg" class="card-img">
                        <h5 class="card-title">Total Offers</h5>
                        <p class="card-text">Over 500 Offers</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>